@model IEnumerable<MvcCore.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> <br />
</p>

<h3>Buscar coches por nombre de modelo</h3>
<form method="post" asp-controller="Coches" asp-action="Index">
    <div class="form-group">
        <label class="control-label">Modelo:</label>
        <input type="text" name="nombre" class="form-control" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCoche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCoche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conductor)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Imagen)*@
                    <img src="@item.Imagen" width="150" height="100" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { idcoche = item.IdCoche }) |
                    @Html.ActionLink("Details", "Details", new { idcoche = item.IdCoche }) |
                    <form method="post" asp-controller="Coches" asp-action="Delete" asp-route-idcoche="@item.IdCoche">
                        <span id="confirmDeleteSpan_@item.IdCoche" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a class="btn btn-primary"
                               onclick="confirmDelete('@item.IdCoche', false)">No</a>
                        </span>

                        <span id="deleteSpan_@item.IdCoche">
                            <a class="btn btn-danger"
                               onclick="confirmDelete('@item.IdCoche', true)">Delete</a>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
